[submodule "config/awesome"]
	path = config/awesome
	url = git@github.com:aschult5/awesome-copycats.git
[submodule "config/vim/pack/default/start/gruvbox"]
	path = config/vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "config/vim/pack/plugins/start/vim-go"]
	path = config/vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
